* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
}

body {
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
}

@media (max-width: 1195px) {
  body {
    padding-top: 0px;
  }
}

a {
  text-decoration: none;
}

input,
label {
  font-family: "Apercu Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0000ff;
  border-radius: 3px;
}
