* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
}

body {
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
}
